.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.error {
  color: red;
}
.items .item__name {
  height: 80px;
  align-self: center;
  margin-top: 3px;
}
.item__quantity {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 3px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.item {
  margin: 6px;
  padding: 5px;
}
.items .item--saved {
  background-color: lightgreen;
}

.loginForm {
  margin: 10px;
  width: 50vw;
}
.loginWrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.loginForm input[type="submit"] {
  margin-top: 10px;
}
